// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family: 'Times New Roman', Times, serif;
}

.content {
  background-color: tomato;
  height: 300px;
  width: 70%;
  margin: 50px auto 20px auto;
}

.my-container {
  text-align: center;
}

.my-container h1 {
  margin: 15px 0px;
}

.text {
  font-size: 20px;
}