// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family: 'Times New Roman', Times, serif;
}

a {
  color: red;
  text-decoration: none;
}

.box {
  background-color: tomato;
  height: 400px;
  margin: 10px;
}